<div class="card gap-5">
  <h2 class="" card-title>List of Celebrities</h2>
  <div class="card-body">
    {{#each listCelebrities}}
      <ul>
        <li>{{this.name}}</li>
      </ul>
    {{/each}}
  </div>
</div>