<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav class="nav nav-tabs">
<li class="nav-item"><a class="nav-link" href="/celebrities/create">Create a celebrity</a></li>
<li class="nav-item"><a class="nav-link" href="/celebrities">Celebrities</a></li>
<li class="nav-item"><a class="nav-link" href="/movies">Movies</a></li>
<li class="nav-item"><a class="nav-link" href="/movies/create">Create a movie</a></li>
</nav>


