<h1 class="title-index">{{title}}</h1>

<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center list-group"
    >
      <a class="p-1 rounded list-group-item" href="/celebrities/create">Create a celebrity</a>
      <a class="p-1 rounded list-group-item" href="/celebrities">Celebrities</a>
      <a class="p-1 rounded list-group-item" href="/movies">Movies</a>
      <a class="p-1 rounded list-group-item" href="/movies/create">Create a movie</a>
    </div>

  </div>

</div>