body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.title-index {
  font-size: 4rem;
  text-align: center;
  color: pink;
}

.row {
  font-size: 2rem;
  padding: 5rem;
  justify-content: center;
}

.card-title {
  margin: 3rem;
  font-size: 2rem;
  color :#00b7ff;
}

.card-body {
  font-size: 25px;
}

.card-title {
  font-size: 3rem;
}
